html {
  font-size: 62.5%;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

i {
  font-size: 80px;
  transition: transform 500ms ease;
  text-shadow: 2px 2px 4px #000000;
}

.bottleButton {
  transition: transform 400ms ease-in-out;
}

.bottleButton:active {
  transform: rotate(45deg);
}

.fa-chevron-down:active {
  transform: translateY(10%);
}

a {
  text-decoration: none;
  outline: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:focus {
  outline: dotted;
}
a:active {
  color: black;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:focus + label {
  outline: dotted;
}

.submitContainer {
  margin-top: 50px;
}

footer {
  background: #7a4044;
  text-align: center;
  p {
    color: white;
    font-family: "Amatic SC", sans-serif;
    margin: 0;
    padding: 5px 0px;
    font-size: 2rem;
  }
}

.hide {
  display: none;
}

.show{
  display: block;
}