.result {
    background: #CCB1B3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    p{
        font-size: 2rem;
    }
}

.newMood, .reset {
    background: #CCB1B3;
    border: none;
    border-bottom: 2px solid black ;
}

.newMood:focus, .reset:focus {
    outline: dotted;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.result img{
    max-width: 320px;
}