article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

i {
  font-size: 80px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  text-shadow: 2px 2px 4px #000000;
}

.bottleButton {
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.bottleButton:active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fa-chevron-down:active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

a {
  text-decoration: none;
  outline: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:focus {
  outline: dotted;
}

a:active {
  color: black;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:focus + label {
  outline: dotted;
}

.submitContainer {
  margin-top: 50px;
}

footer {
  background: #7a4044;
  text-align: center;
}

footer p {
  color: white;
  font-family: "Amatic SC", sans-serif;
  margin: 0;
  padding: 5px 0px;
  font-size: 2rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h3 {
  font-family: "Amatic SC", sans-serif;
  color: white;
  font-size: 2.6rem;
  text-shadow: 2px 2px 4px #000000;
}

.newMood h3,
.reset h3 {
  color: black;
  text-shadow: none;
  margin: 0;
  padding-bottom: 5px;
}

.questionOneContainer h2,
.questionTwoContainer h2 {
  font-family: "Amatic SC", sans-serif;
  color: white;
  font-size: 3.6rem;
  text-shadow: 2px 2px 4px #000000;
}

.result h2 {
  font-family: "Amatic SC", sans-serif;
  color: black;
  font-size: 3.6rem;
}

header p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000000;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

header {
  background: #63032e;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  text-align: center;
  width: 100%;
}

header button {
  background: #63032e;
  border: none;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: "Rye", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 6.4rem;
  text-shadow: 2px 2px 4px #000000;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title img {
  width: 100%;
}

.questionOneContainer {
  background: #7a4044;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding: 50px 0px;
}

.questionOneContainer button {
  background: #7a4044;
  border: none;
}

.questionOneContainer button h2 {
  margin: 0;
  padding: 20px;
}

.moodForm {
  max-width: 100%;
}

.userMood {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

.questionOneContainer label {
  background: white;
  height: 120px;
  width: 120px;
  padding: 20px;
  margin: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: hover 1s ease;
  transition: hover 1s ease;
}

.questionOneContainer label:hover {
  background: lightgrey;
  cursor: pointer;
}

.questionOneContainer label:focus {
  border: 1px dotted red;
}

.questionOneContainer input[type="radio"]:checked + label {
  background: black;
  color: white;
}

.questionTwoContainer {
  background: #c39393;
  max-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.questionTwoContainer button {
  background: #c39393;
  border: none;
}

.questionTwoContainer button h2 {
  margin: 0;
  padding: 20px;
}

.wineForm {
  width: 100%;
}

.userDrink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.box {
  width: 33%;
}

.questionTwoContainer img {
  max-width: 100%;
}

.questionTwoContainer label img {
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.questionTwoContainer label img:hover {
  cursor: pointer;
}

.questionTwoContainer label img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.questionTwoContainer input[type="radio"]:checked + label img {
  border-bottom: 3px solid black;
}

.result {
  background: #ccb1b3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.result p {
  font-size: 2rem;
}

.newMood,
.reset {
  background: #ccb1b3;
  border: none;
  border-bottom: 2px solid black;
}

.newMood:focus,
.reset:focus {
  outline: dotted;
}

.buttonContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.result img {
  max-width: 320px;
}

.wineDescription {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1065px) {
  .userMood {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 565px) {
  header {
    padding: 5px 0px;
  }
  h1 {
    font-size: 4.8rem;
  }
  .title img {
    display: none;
  }
  .questionOneContainer {
    padding: 10px 0px;
  }
  .userMood {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .userMood label {
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px 20px;
  }
  .inputContainer {
    width: 100%;
    margin: 5px 0px;
  }
  .result p {
    font-size: 1.6rem;
    padding: 5px;
  }
}

@media (max-width: 378px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.4rem;
  }
}
